<div class="navbar-fixed">
    <nav>
        <div class="row">
            <div class="col s12 teal">
                <div class="nav-wrapper">
                    <a href="/" class="brand-logo raleway hide-on-med-and-down"><img src="/assets/white-spider.svg" alt="Icono Araña" width="25"></a>
                    <ul id="nav-mobile" class="right">
                        <li routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a>Inicio</a></li>
                        <li routerLink="analizados" routerLinkActive="active"><a>Analizados</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>
<div class="container">
    <router-outlet></router-outlet>

    <div class="row">
        <div class="col s12 center-align">
            <p class="console-text grey-text darken-4">Desarrollado con <i class="fa fa-coffee fa-fw"></i>
                & <i class="fa fa-heart fa-fw"></i></p>
            <p class="console-text grey-text darken-3" style="font-size: 0.7rem;">Sólo se permite el uso de este
                software con fines educativos o de investigación.</p>
            <p><a href="https://github.com/vpedrosa/isecrawl" class="grey-text darken-4"><i
                    class="fa fa-github fa-3x"></i></a></p>
        </div>
    </div>
</div>