<div class="row center-align home-box">
    <div class="col s12">
        <img src="/assets/spider.svg" alt="Icono Araña" width="100">
    </div>
    <div class="col s12">
        <h1 class="raleway-light grey-text darken-4">ISECrawl</h1>
    </div>
    <div class="col s12 console-text grey-text darken-3">
        <p>v.0.1 - 13 enero 2017</p>
        <p>STACK DE SOFTWARE USADO:</p>
        <ul>
            <li><a href="https://angular.io/">Angular - 2.3.1</a></li>
            <li><a href="http://materializecss.com/">MaterializeCSS - 0.97.8</a></li>
            <li><a href="http://loopback.io/">LoopBack - 3.0.0</a></li>
        </ul>
    </div>
</div>