/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Raleway:300,400');
@import "../node_modules/materialize-css/dist/css/materialize.css";

.raleway {
    font-family: 'Raleway', sans-serif;
}
.raleway-light {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.console-text{
    font-family: 'Inconsolata', monospace;
}